- name: Retrieve kubeconfig from k3s server
  hosts: k3s
  gather_facts: false
  tasks:
    - name: Retrieve kubeconfig
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: "{{ lookup('env', 'HOME') }}/final-project/04_ansible/kubeconfig/kubeconfig"
        flat: true
        replace: true

- name: Patch kubeconfig locally
  hosts: localhost
  gather_facts: false
  tasks:
    - lineinfile:
        path: "{{ lookup('env', 'HOME') }}/final-project/04_ansible/kubeconfig/kubeconfig"
        regexp: '^\s*server:\s*https://.*:6443\s*$'
        line: "    server: https://{{ hostvars['k3s'].ansible_host }}:6443"
