- name: Retrieve kubeconfig from k3s server
  hosts: k3s
  gather_facts: false
  tasks:
    - name: Retrieve kubeconfig
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: "./kubeconfig-k3s.yml"
        flat: true
        replace: true

- name: Patch kubeconfig locally
  hosts: localhost
  gather_facts: false
  tasks:
    - lineinfile:
        path: "./kubeconfig-k3s.yml"
        regexp: '^\s*server:\s*https://.*:6443\s*$'
        line: "    server: https://{{ ansible_host }}:6443"
