#SPDX-License-Identifier: MIT-0
---
# tasks file for ic-webapp
- name: install docker python package
  package:
    name: python3-docker
    state: present

- name: create network
  docker_network:
    name: "{{ docker_network }}"

- name: run ic-webapp container
  docker_container:
    name: "{{ icw_container_name }}"
    image: "{{ icw_image }}"
    state: started
    ports:
      - "{{ icw_port }}:8080"
    restart_policy: always
    env:
      ODOO_URL: "{{ odoo_url }}"
      PGADMIN_URL: "{{ pgadmin_url }}"
    networks:
      - name: "{{ docker_network }}"
